{% extends "core/base.html" %}


{%block title%}
Contacto
{% endblock %}


{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}


{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoria</span>
{% endblock %}


{%block content%}
<div class="col-lg-8 col-md-10 mx-auto">
    <p>Puedes comunicarte con nosotros a traves de los siguientes telefonos:</p>
    <br>
    <p><b>Teléfono:</b> 0424-281.60.63</p>
    <p><b>Honorarios:</b> 40$/h (precio base)</p>
  </div>
{% endblock %}